<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <!------CSS-------->
    <link rel="stylesheet" href="/static/css/login.css">

    <!----Boxicons CSS---->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>

                <form action="#">
                    <div class='field input-field'>
                        <label for="email">Email</label>
                        <input type="email" placeholder="Enter Your Email" class="input">
                    </div>

                    <div class='field input-field'>
                        <label for="password">Password</label>
                        <input type="Password" placeholder="Enter Your Password" id="password">
                        <i class='bx bx-hide eye-icon' id="eyeicon"></i>
                    </div>

                    <script>

                        let eyeicon = document.getElementById("eyeicon");
                        let password = document.getElementById("password");
                        eyeicon.onclick = function(){
                            if (password.type == "password"){
                                password.type = "text";
                                eyeicon.src = "/static/images/icons8-open-50.png";
                            }else{
                                password.type = "password";
                                eyeicon.src = "/static/images/icons8-hide-50.png";

                            }
                        }



                    </script>




                     <div class="form-link">
                        <a href="#" class="forget-pass">Forgot password?</a>
                     </div>

                    <div class="field button-field">
                        <button>Login</button>
                    </div>

                    <div class="form-link">
                        <span>Create a new account ?  <a href="signup" class="signup-link">Signup</a></span>
                    </div>


                </form>



            </div>
        </div>
    </section>
</body>
</html>